@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600';
@font-face {
    font-family: "NeuzeitGro W01 Bold";
    src: url("../fonts/66182542-0bb8-41e7-94b8-f45d24bea18d.eot?#iefix") format("eot"), url("../fonts/8dfba670-079e-4879-8b0a-8d079ab7c067.woff2") format("woff2"), url("../fonts/218401dc-d400-4482-8c9b-0527059f7559.woff") format("woff"), url("../fonts/ace900f9-272b-4efa-88b0-6f2b1adc0f41.ttf") format("truetype"), url("../fonts/eeb8e139-b0e6-40d3-820c-0011bcf71e43.svg#eeb8e139-b0e6-40d3-820c-0011bcf71e43") format("svg");
}

#personalization-button .infographic-button-path.active {
    fill: #D6DE23;
}

#education-button .infographic-button-path.active {
    fill: #1B75BB;
}

#eligibility-button .infographic-button-path.active {
    fill: #009345;
}

#compliance-button .infographic-button-path.active {
    fill: #1596D2;
}

#decision-support-button .infographic-button-path.active {
    fill: #00A69C;
}

.infographic-text-detail.unhighlight tspan {
    transition: fill 0.5s;
    fill: #808184;
}

.infographic-text-detail tspan {
    transition: fill 0.5s;
}

.infographic-text-detail.unhighlight line,
.infographic-text-detail.unhighlight path,
.infographic-text-detail.unhighlight circle,
.infographic-text-detail.unhighlight polyline {
    transition: stroke 0.5s;
    stroke: #808184;
}

.infographic-text-detail line,
.infographic-text-detail path,
.infographic-text-detail circle,
.infographic-text-detail polyline {
    transition: stroke 0.5s;
}

.infographic-button-path.active {
    transition: fill 0.5s;
}

.infographic-button-path.active.clicked {
    opacity: 1;
}

.infographic-button-path-selected,
.infographic-button-text-path,
.infographic-button-text-path-selected,
.infographic-button-text-path-original,
.infographic-button-path-original {
    visibility: hidden;
}

.group-button {
    cursor: pointer;
}

#enrollment-button {
    cursor: pointer;
}

.infographic-button-path {
    fill: #808184;
}

.infographic-text-detail {
    opacity: 1;
    transition: opacity 0.3s;
}

.infographic-text-detail.hide {
    opacity: 0;
    transition: opacity 0.3s;
}

#infographic-enrollment-instructions {
    transition: fill 0.5s;
}

.st0 {
    fill: #D6DE23;
}

.st1 {
    font-family: 'NeuzeitGro W01 Bold';
    font-size: 18px;
    text-transform: uppercase;
}

.st2 {
    font-size: 33px;
}

.st3 {
    fill: #555555;
}

.st4 {
    font-size: 25px;
}

.st5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.st6 {
    fill: none;
    stroke: #D6DE23;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st7 {
    fill: none;
    stroke: #D6DE23;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st8 {
    fill: none;
}

.st9 {
    fill: #1B75BB;
}

.st10 {
    fill: none;
    stroke: #1B75BB;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st11 {
    fill: #009345;
}

.st12 {
    fill: none;
    stroke: #009345;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st13 {
    fill: none;
    stroke: #009345;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st14 {
    fill: #1596D2;
}

.st15 {
    fill: none;
    stroke: #1896D3;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st16 {
    fill: #00A69C;
}

.st17 {
    fill: none;
    stroke: #00A69C;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st18 {
    fill: none;
    stroke: #00A69C;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st19 {
    fill: #8EC449;
    opacity: 0.8;
    transition: opacity 0.5s;
}

#enrollment-button:hover .st19 {
    opacity: 1;
}

.st20 {
    font-size: 42.3158px;
}

.st21 {
    font-size: 30.568px;
}

.st22 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.st23 {
    font-size: 30.27px;
}

.st24 {
    fill: none;
    stroke: #8DC349;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st25 {
    fill: #FFFFFF;
}

.st26 {
    font-size: 28px;
}
