/*
 * Typography
 */

@font-face {
    font-family: 'Neuxeit Grotesk Regular';
    src: url('../fonts/Neuxeit-Grotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeuzeitGro Bold';
    src: url('../fonts/NeuzeitGro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'OpenSans Light', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: .5em;
  font-family: 'Neuxeit Grotesk Regular';
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-family: 'NeuzeitGro Bold';
}

h6 {
  font-family: 'OpenSans Light';
}

p {
  font-family: 'OpenSans Light';
  margin-top: 0;
  margin-bottom: 1em;
}

hr {
  box-sizing: content-box;
  border-width: 1px;
  border-style: solid;
  height: 0;
}
