/*
 * Typography
 */

@font-face {
    font-family: 'Neuxeit Grotesk Regular';
    src: url('../fonts/Neuxeit-Grotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeuzeitGro Bold';
    src: url('../fonts/NeuzeitGro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body, p, input[type=submit], input[type=image], a {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  margin: 0;
  margin-bottom: .5em;
  font-family: 'Neuxeit Grotesk Regular';
  font-weight: 100;
}

h5, h6, h5 a, h6 a {
 font-family: 'Open Sans', Helvetica, Arial, sans-serif;
 font-weight: 300;
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-family: 'NeuzeitGro Bold';
  font-weight: 700;
}

h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

strong {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

hr {
  box-sizing: content-box;
  border-width: 1px;
  border-style: solid;
  height: 0;
}

.site-content .vc_btn3, .vc_btn3,
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=image],
.gform_wrapper .gform_footer input[type=submit]  {
  font-family: 'Neuxeit Grotesk Regular';
  font-size:1em;
}

/* Helpers */

.ff-header-bold {
  font-family: 'NeuzeitGro Bold';
}
.ff-header {
  font-family: 'Neuxeit Grotesk Regular';
}
.ff-body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
